span{
  font-size: 5px;
  line-height: 2px;
}
h3{
  display: inline;
}
.chessboard{
  width: 900px;
  height: 900px;
  border-radius:25px;
  margin: 0 auto;
  padding: 30px;
  background: bisque;
}

.chessBox_1{
  width: 60px;
  height: 60px;
  display: inline-block;
  background: #5d768a;
  border: #8f8f8f dashed;
  margin: 0;
  padding: 0;
}

.chessBox_2{
  width: 60px;
  height: 60px;
  display: inline-block;
  background: #75a4b3;
  border: #8f8f8f dashed;
  margin: 0;
  padding: 0;
}

.chess-white{
  display: inline-block;
  padding: 0;
  width:50px;
  height:50px;
  margin:0;
  border-radius: 50px;
  background: linear-gradient(white, antiquewhite);
  box-shadow: 2px 2px 1px #292929;
}
.chess-black{
  display: inline-block;
  width:50px;
  height:50px;
  margin:0 ;
  padding: 0;
  border-radius: 50px;
  background: linear-gradient(black, #292929);
  box-shadow: 2px 2px 1px #292929;
}
.chess-non{
  display: inline-block;
  width:50px;
  height:50px;
  margin:0;
}

.title-message{
  height: 100px;
  text-align: center;

}
.main-left{
  position: absolute;
  width: 200px;
  line-height: 50px;
  padding-left:30px;
}
.title-main{
  height: 88px;
  display: inline-block;
  width: 40%;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

}
